Flask>=3.0.0
Flask-CORS>=4.0.0
Flask-JWT-Extended>=4.6.0
Flask-SQLAlchemy>=3.1.1
Werkzeug>=3.0.1
gunicorn>=21.2.0
pydicom>=2.4.4
numpy>=1.26.4
Pillow>=10.2.0
cloudinary>=1.40.0
requests>=2.31.0
python-dotenv>=1.0.0
pylibjpeg>=2.0.0
pylibjpeg-libjpeg>=2.1.0