Flask
flask-cors
flask-jwt-extended
flask-sqlalchemy
gunicorn
pydicom
numpy
cloudinary

Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
Flask-JWT-Extended==4.6.0
Werkzeug==3.0.1
pydicom==2.4.4
Pillow==10.2.0
numpy==1.26.4